// Layout - variables
// Colors
$phBackground   : #000000;
$phTextColor    : #ffffff;
$tbBgTitle      : #005822;
$tbFtTitle      : #fdc372;
$theadBgColor   : #cfc1b7;
$notesFnColor   : #949494;
$bgSumColor     : #b6dfe9;
$bgResultColor  : #aad4c2;


.login-page{
    background: linear-gradient( rgb(128, 128, 128),rgba(255, 255, 255, 0.8)) , url('https://images.squarespace-cdn.com/content/59426680bebafb762e2e379d/1497662846356-G663WZ1XZ5NJHI4X0ZJU/rapid-river.jpg?content-type=image%2Fjpeg') ;
    background-size: cover;
    background-attachment: fixed;
}
#login-box-wrapper{
    width: 320px; height: 320px; padding: 20px;
    border: 1px solid black; border-radius: 10px; box-shadow: 0px 0px 20px black;
    position: absolute; top: 50%; left: 50%;
    margin-left: -160px; margin-top: -160px;
    background: linear-gradient(#aaa8aa , #d3cbff );
    #login-banner{
        margin: -20px -20px 20px -20px; background-color: black; color: white; height: 60px;
        padding: 15px;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
}
// Layout - Page Header
#pageHeader{
    min-height: 100px;
    height: 100px;
    background-color: $phBackground;
    background-image: url('../img/thePikasResort-2.png');
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
}

.page-title{    
    padding: 5px 0; margin-top: 15px;
    text-align: center;
    h3{ text-shadow: 0px 0px 1px black;}
}

// Tables
thead{
    background-color: $theadBgColor;
    text-align: center;
    font-weight: bold;
}

textarea { resize: none; background-color: #EEE;}

// icons
i.fas { background-color: lightgrey; padding:  5px; border-radius: 2px;}
.icon48 { font-size: 48px; text-align:center;}

// bookKeeping
.trxNote{
    font-style: italic;
    color: $notesFnColor;
}

.bg-summary {
    font-weight: bold;
    background-color: $bgSumColor;
}

.bg-result{
    background-color: $bgResultColor;
    font-style: italic;
    font-weight: 800;
}

.col-red{
    color:red;
}