.login-page {
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(rgba(255, 255, 255, 0.8))), url("https://images.squarespace-cdn.com/content/59426680bebafb762e2e379d/1497662846356-G663WZ1XZ5NJHI4X0ZJU/rapid-river.jpg?content-type=image%2Fjpeg");
  background: linear-gradient(gray, rgba(255, 255, 255, 0.8)), url("https://images.squarespace-cdn.com/content/59426680bebafb762e2e379d/1497662846356-G663WZ1XZ5NJHI4X0ZJU/rapid-river.jpg?content-type=image%2Fjpeg");
  background-size: cover;
  background-attachment: fixed;
}

#login-box-wrapper {
  width: 320px;
  height: 320px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  background: -webkit-gradient(linear, left top, left bottom, from(#aaa8aa), to(#d3cbff));
  background: linear-gradient(#aaa8aa, #d3cbff);
}

#login-box-wrapper #login-banner {
  margin: -20px -20px 20px -20px;
  background-color: black;
  color: white;
  height: 60px;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

#pageHeader {
  min-height: 100px;
  height: 100px;
  background-color: #000000;
  background-image: url("../img/thePikasResort-2.png");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

.page-title {
  padding: 5px 0;
  margin-top: 15px;
  text-align: center;
}

.page-title h3 {
  text-shadow: 0px 0px 1px black;
}

thead {
  background-color: #cfc1b7;
  text-align: center;
  font-weight: bold;
}

textarea {
  resize: none;
  background-color: #EEE;
}

i.fas {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 2px;
}

.icon48 {
  font-size: 48px;
  text-align: center;
}

.trxNote {
  font-style: italic;
  color: #949494;
}

.bg-summary {
  font-weight: bold;
  background-color: #b6dfe9;
}

.bg-result {
  background-color: #aad4c2;
  font-style: italic;
  font-weight: 800;
}

.col-red {
  color: red;
}
/*# sourceMappingURL=pikas.css.map */